<div class="widget tag">
<h3 class="title">简介</h3>
<ul class="entry">
<li>网名：JerryChia | julyjia</li>
<li>博客园：<a href="http://www.cnblogs.com/justinjia/">justinjia</a></li>
<li>GitHub：<a href="">Jerry Chia</a></li>
<li>银光中国：<a href="href="http://bbs.silverlightchina.net/home.php?mod=space&uid=72950">julyjia</a></li>
<li><input type="image" src="\imgs\rss.png" onclick="javascript:window.open('/atom.xml','_blank')"/></li>
</ul>
</div>

