<div class="alignleft">
  <% if (config.author){ %>
  &copy; 2014 - 2015 <a href="#"><%= config.author %></a>|Theme of LightJerry Improved from <a href="https://github.com/hexojs/hexo-theme-light" target="_blank">Light</a> by Jerry|Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>
  <% } else { %>
  &copy; 2014 - 2015 <a href="#"><%= config.title %></a>|Theme of LightJerry Improved from <a href="https://github.com/hexojs/hexo-theme-light" target="_blank">Light</a> by Jerry|Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>
  <% } %>
</div>
<div class="clearfix"></div>

